.contactos{
    margin-top: 4rem;
    width: 100%;
}

.titulo__contacto{
    text-align: center;
    margin-bottom: 1rem;
}

.contacto__content{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* datos  */

.datos > div{
    display: flex;
    margin-right: 1rem;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: .8rem 0;
}
.datos > div i{
    font-size: 1.8rem;
}
.datos > div p{
    font-weight: 600;
    font-family: var(--montserrat);
    font-size: 1.250rem;
}

.datos > div span{
    font-weight: 400;
    color: #023f84;
}



/* formulario */
.formulario{
    padding: 1rem;
    width:600px;
    display: flex;
    flex-direction: column;
}


.input__formulario{
    width: 100%;
    margin-bottom: .8rem;
}
.input__formulario input{
    width: 100%;
}


/* estilo para todos los inputs de contacto */
.formulario input , .formulario textarea{
    outline: none;
    border: none;
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
    border-radius: 5px;
    letter-spacing: .8px;
    border: 2px solid rgba(0,0,0,.5);
    font-family: var(montserrat);
}
.formulario  .input__formulario input::placeholder , .formulario textarea::placeholder{
    font-size: .9rem;
}


/* textarea */
.formulario textarea{
    resize: none;
    letter-spacing: 0;
    margin-bottom: 1rem;
}

/* botton del formulario */
.button__formulario{
    display: block;
    width: 80%;
    margin: auto;
    cursor: pointer;
    font-size: 1.250rem;
    padding: 1rem 0;
    background-color: #ddb57e;
    color: #fff;
    transition: all .4s ease-in-out;
    border: none;
}

.button__formulario:hover{
    color: var(--principal-color);
    background-color: #f3d1a2;
}



@media screen and (min-width: 0px) and (max-width:767px)  {

    .contacto__content{
        flex-direction: column;
    }
    .button__formulario{
        width: 100%;
        margin: 0;
    }
    .datos > div i{
        font-size: 1.5rem;
    }
    .datos > div p{
        font-size: 1.150rem;
    }
}
@media screen and (min-width: 768px) and (max-width:1023px)  {

    .button__formulario{
        width: 100%;
    }
    .datos > div p{
        font-size: 1.2rem;
    }
}