
.formacion-Acadmia{
    margin-top: 4rem;
}
.logo__estudios{
    width: 170px;
    height: 160px;
    margin-top: 1rem;
}
.titulo__formacion-Acadmia{
    text-align: center;
}

.formaciones{
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: center;
}

.estudios__formaciones{
    padding: 1rem;
    max-width: 400px ;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo__estudios{
    margin-top: 2rem;
    margin-left: 1rem;
    font-family: var(--montserrat);
    line-height: 30px;
}
.titulo__estudios h2{
    font-size: 1.7rem;
}
.titulo__estudios p{
    margin-top: 1rem;
    font-size: 1.2rem;
    line-height: 20px;
}

@media screen and (min-width: 0px) and (max-width: 767px){
    .titulo__estudios{
        margin: 0;
        
    }
    .titulo__estudios h2{
        font-size: 1.150rem;
        line-height: 21px;
    }
    .titulo__estudios p{
        font-size: .850rem;
        line-height: 16px;
    }
    .formaciones{
        flex-wrap: wrap;
    }
    .estudios__formaciones{
        width: 100%;
        padding:0;
        margin-bottom: 2rem;
        flex-direction: row;
        gap: 15px;
    }
    .logo__estudios{
        width: 100px;
        height: 90px;
    }
}


@media screen and (min-width: 768px){
    .titulo__estudios h2{
        font-size: 1.8rem;
    }
    .titulo__estudios p{
        font-size: 1rem;
    }
}

