.inicio{
    width: 100%;
    height: 95vh;
    margin-top: 4.5rem;
    background: linear-gradient(to right, #023e84, #045fc7);
    clip-path: polygon(100% 0, 100% 65%, 50% 95%, 0 65%, 0 0);
    padding-top: 3rem;
}

.content__inicio{
    position: relative;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.info__present{
    width: 500px;
    padding: 1rem;
    font-family: var(--montserrat);
}
.info__present .titulo__present{
    font-size: 2.750rem;
    line-height: 45px;
    color: var(--blanco);
    letter-spacing: 1.5px;
    margin-bottom: 1rem;
}

.info__present p{
    color: var(--blanco);
    font-size: 1.350rem;
    letter-spacing:1px;
}

.info__present .redes_contactar{
    /* background-color: #ddb57e; */
    padding: .4rem 0;
}
.redes_contactar a{
    text-decoration: none;
    margin-right: 1rem;
}
.redes_contactar a i{
    font-size: 2.3rem;
    color: #fff;
}
.redes_contactar a i:hover{
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}


.descargar_cv{
    display: block;
    text-decoration: none;
    color: var(--blanco);
    font-weight: 600;
    width:200px;
    text-align: center;
    padding: 1rem 0;
    background-color: #ddb57e;
    margin-top: .8rem;
    border-radius:5px ;
}
.image__inicio{
    width: 750px;
    /* opacity: 0; */
    animation: imgProcess 1s ease-in-out both;
}
.icon-abajo{
    position: absolute;
    font-size: 3.4rem;
    bottom:3.2rem;
    left: calc(50% - 24px);
    color: var(--blanco);   
    animation: icons .8s ease-in-out 1s alternate;
    animation-iteration-count: infinite;
}

@keyframes icons {
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-6px);
    }
} 
@keyframes imgProcess {
    100%{
        opacity: 1;
    }
} 



/* medias queries */
@media screen and (min-width: 0px) and (max-width:767px)  {
    .inicio{
        margin-top: 0rem;
        clip-path: none;
        height: 95vh;
    }
    .content__inicio{
        width: 95%;
        height: 100%;
        margin-top: 0;
        padding:0;
        padding-top:2rem;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .info__present{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .info__present .titulo__present{
        font-size: 2.3rem;
        text-align: left;
    }
    
    .info__present p{
        font-size: 1.150rem;
    }
    
    .descargar_cv{
        width:170px;
        padding: .8rem 0;
    }

    .image__inicio{
        display: block;
        width:270px;
    }

    .icon-abajo{
        display: none;
    }

}


@media screen and (min-width: 768px)  {
    .content__inicio{
        width: 90%;
    }
    .info__present .titulo__present{
    font-size: 2.250rem;
    margin-bottom: .8rem;
    }
    .info__present p{
        font-size: 1.150rem;
    }
    .image__inicio{
        width: 340px;
    }
    .descargar_cv{
        width:180px;
        padding: .8rem 0;
    }
}

@media screen and (min-width: 1024px)  {
    
    .content__inicio{
        width: 80%; 
    }
    .info__present .titulo__present{
    font-size: 2.550rem;
    margin-bottom: 1rem;
    }
    .info__present p{
        font-size: 1.250rem;
    }
    .image__inicio{
        width: 420px;
    }
    .descargar_cv{
        width:200px;
        padding: 1.1rem 0;
    }
}