.proyectos{
    max-width: 850px;
    margin-top: 4rem;
    padding-top: 1rem;
    position: relative;
}
.titulo__proyectos{
    text-align: center;
    margin-bottom: 2rem;
}
.proyectos .carousels__proyectos{
    width: 100%;
    overflow: hidden;
}
.content__proyectos{
    width:400%;
    display: flex;
    gap: 10px;
    transition: all 1s ease-in-out;
    transform: translateX(-0%);
}

.mover-right,
.mover-left{
    position: absolute;
    font-size: 2.150rem;
    z-index: 5;
    cursor: pointer;
}
.mover-left{
    top: 50%;
    bottom: 50%;
    left: -10px;
}
.mover-right{
    top: 50%;
    bottom: 50%;
    right:-5px;
    z-index: 5;
}

.mover-right:hover,
.mover-left:hover{
    color: rgba(0,0,0,.7);
}


@media screen and (min-width: 0px) and (max-width:767px)  {
    .content__proyectos{
        
    }
}
@media screen and (min-width: 768px) and (max-width:1023px)  {
    .proyectos{
        width: 700px;

    }
    .content__proyectos{
        
    }
}