.sobre-mi{
    width: 80%;
    padding-bottom: 4rem;
}
.descrip{
    padding:1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.descrip .titulo__content{
    margin-bottom: .250rem;
}
.descrip p{
    font-family: var(--montserrat);
    line-height: 26px;
}
.descrip .imagen__descrip img{
    width: 350px;
    opacity: .8;
}

.descrip__content{
    max-width: 750px;
}
.descrip__content div:first-child p{
    margin-bottom: 1rem;
}

/* div de  */
.content_hobbies{
    margin-top: 1.250rem;
}
.content_hobbies .titulo__hobbie{
    font-size: 1.450rem;
    margin-bottom: .5rem;
}
.content_hobbies div{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 15px;
}
.content_hobbies div p{
    background-color: #ddb57e;
    color: #fff;
    font-weight: 600;
    padding: .3rem 1.550rem;
    border-radius: 50px;
}

@media screen and (min-width: 0px) and (max-width:767px)  {
    .sobre-mi{
        margin-top: 2rem;
    }
    .titulo__content{
        text-align: center;
    }
    .imagen__descrip {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }
    .descrip .imagen__descrip img{
        width: 50%;
        
    }
    .descrip p{
        font-size: .950rem;
    }
}

@media screen and (min-width: 768px) {
    /* .descrip .imagen__descrip img{
        width: 280px;
    } */
    .descrip p{
        font-size: 1rem;
    }
    /* .descrip__content{
        width:100%;
    } */
    
}

@media screen and (min-width: 1024px) {
    /* .descrip .imagen__descrip img{
        width:300px;
    } */
    .descrip p{
        font-size: 1.125rem;
    }
    /* .descrip__content{
        width: 500px;
    } */
}