.sobre-mi{
    margin-top: 4rem;
    padding-bottom: 5rem;
}
.descrip{
    padding:1rem;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit,minmax(332px, 1fr));
}

.descrip .titulo__content{
    margin-bottom: .850rem;
}
.descrip p{
    font: 1.150rem var(--montserrat);
    line-height: 28px;
    text-align: justify;
}
.descrip .imagen__descrip img{
    opacity: .8;
}


@media screen and (min-width: 0px) and (max-width:767px)  {
    .sobre-mi{
        margin-top: 2rem;
    }
    .titulo__content{
        text-align: center;
    }
    .imagen__descrip {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }
    .descrip .imagen__descrip img{
        width: 50%;
        
    }
    .descrip p{
        font-size: .950rem;
    }
}

@media screen and (min-width: 768px) {
    .descrip .imagen__descrip img{
        width: 280px;
    }
    .descrip p{
        font-size: 1rem;
    }
    .descrip__content{
        width:100%;
    }
    
}

@media screen and (min-width: 1024px) {
    .descrip .imagen__descrip img{
        width: 400px;
    }
    .descrip p{
        font-size: 1.150rem;
    }
    .descrip__content{
        /* width: 90%; */
    }
}