.sobre-mi{
    margin-top: 3rem;
    margin-bottom: 4rem;
}
.descrip{
    display: flex;
    align-items: center;
}

.descrip .titulo__content{
    margin-bottom: .250rem;
}
.descrip p{
    font-family: var(--montserrat);
    line-height: 26px;
}


.sobre-mi .imagen__descrip img{
    width: 380px;
    margin: auto;
}


.descrip__content div:first-child p{
    margin-bottom: 1rem;
}

/* div de hobbies */
.content_hobbies{
    margin-top: 1.250rem;
}
.content_hobbies .titulo__hobbie{
    font-size: 1.450rem;
    margin-bottom: .5rem;
}
.content_hobbies div{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 15px;
}
.content_hobbies div p{
    background-color: #ddb57e;
    color: #fff;
    font-weight: 600;
    padding: .3rem 1.550rem;
    border-radius: 50px;
}

@media screen  and (max-width:767px) {
    .descrip{
        flex-wrap: wrap;
        justify-content: center;
    }
    .descrip .titulo__content{
        text-align: center;
    }
    
    .sobre-mi .imagen__descrip img{
        width: 320px;
    }
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    .sobre-mi .imagen__descrip img{
        width: 280px;
        margin-right: 2.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .sobre-mi .imagen__descrip img{
        margin-right: 5.5rem;
    }
}