.habilidades{
    height: 65vh;
    padding-top: 3rem;
    padding-bottom: 5rem;
    /* background: linear-gradient(to top, #023e84, #045fc7);  */
}
.titulo__habilidades{
    color: #023e84;
    margin-bottom: 4rem;
    text-align: center;
}
.content__habilidades{
    max-width:900px;
    margin: auto;
    /* background-color: #023e84; */
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
    row-gap: 10px;
}
.habilidad{
    padding: .4rem;
    cursor: pointer;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    /* border: 2px solid #000; */
    transition: border .4s ease-in-out;
    /* background-color:#045fc7 ; */
}


.content__habilidades .habilidad i{
    font-size: 3.450rem;
}
.content__habilidades .habilidad p{
    margin-top: .150rem;
    color: #000;
    font-size: .950rem;
    font-family: var(--montserrat);
}


.habilidad .fa-react{
    animation: react 5s linear;
    animation-iteration-count: infinite;
}

.content__habilidades div{
    width: 100%;
}

/* .content__habilidades div:nth-child(8){
    grid-column: 3/4;
} */


@keyframes react {
    to{
        transform: rotate(0deg);
    }
    from{
        transform: rotate(360deg);
    }
}

.fa-html5{
    color: #F54300;
}
.fa-css3-alt{
    color:#2445FF ;
    
}
.fa-js{
    color: #FFD520;
}
.fa-react{
    color: #4EE3EB;
}
.fa-node{
    color: #10C51E;
    transform:de;
}
.fa-database{
    color: #646464;
}
.fa-figma{
    color: #df3e3eee;
}
.fa-git-alt{
    color: #FA600F;
}