.habilidades{
    padding-top: 3rem;
    padding-bottom: 4rem;
    /* background: linear-gradient(to top, #023e84, #045fc7);  */
}
.titulo__habilidades{
    color: #023e84;
    text-align: center;
}
.titulo__sub{
    font-size: 1.750rem;
    margin-bottom: 1.150rem;
    width: 85%;
    margin-left: auto;
}
.content_titulo{
    margin-bottom: 1.5rem;
}
.content_titulo p{
    font-weight: 400;
    font-family: var(--montserrat);
}
.content__habilidades{
    max-width:900px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
    gap: 10px;
}
.habilidad__mayor{
    margin-bottom: 3rem;
}
.habilidad{
    padding: .4rem;
    cursor: pointer;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    transition: border .4s ease-in-out;
}


.content__habilidades .habilidad i{
    font-size: 3.450rem;
}
.content__habilidades .habilidad p{
    margin-top: .150rem;
    color: #000;
    font-size: .950rem;
    font-family: var(--montserrat);
}

.habilidad img{
    width: 55px;
}



.habilidad .fa-react{
    animation: react 5s linear;
    animation-iteration-count: infinite;
}

.content__habilidades div{
    width: 100%;
}



@keyframes react {
    to{
        transform: rotate(0deg);
    }
    from{
        transform: rotate(360deg);
    }
}

.fa-html5{
    color: #F54300;
}
.fa-css3-alt{
    color:#2445FF ;
    
}
.fa-js{
    color: #FFD520;
}
.fa-react{
    color: #4EE3EB;
}
.fa-node{
    color: #10C51E;
    transform:de;
}
.fa-database{
    color: #646464;
}
.fa-figma{
    color: #df3e3eee;
}
.fa-git-alt{
    color: #FA600F;
}

@media screen and (max-width:767px) {
    .content__habilidades{
        grid-template-columns: repeat(auto-fit,minmax(90px,1fr));
        gap: 7px;
    }
    .titulo__sub{
        font-size: 1.550rem;
        width: 100%;
        text-align: center;
    }
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    .titulo__sub{
        width: 95%;
    }
}

